
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
layout:decorate="template">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Validation Form</title>

  
</head>
<body class="hold-transition sidebar-mini">
<div layout:fragment="content1">
<div class="wrapper">
  
      <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Comment Posts</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Comments</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> Comment post Edit</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
           <form action="#"  th:action="@{/comment/update(id=${commentpost.id})}"   th:object="${commentpost}"  method="post">
         
          <div class="form-group">
            <label for="postid">POST ID</label>
            <input type="text" th:field="*{postid}" class="form-control" id="postid" name="postid" placeholder="Enter Post Id">
          </div>
          
           <div class="form-group">
            <label for="userid">USER ID</label>
            <input type="text" th:field="*{userid}" class="form-control" id="userid" name="userid" placeholder="Enter User Id">
          </div>
  
          
  
          <div class="form-group">
              <label for="comment">COMMENT</label>
              <input type="text" th:field="*{comment}" class="form-control" id="comment" name="comment" placeholder="Enter Comment">
          </div>

           
          
          
          <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  </div>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

<!-- Page specific script -->
<script>
$(function () {
  $.validator.setDefaults({
    submitHandler: function () {
      alert( "Form successful submitted!" );
    }
  });
  $('#quickForm').validate({
    rules: {
      email: {
        required: true,
        email: true,
      },
      password: {
        required: true,
        minlength: 5
      },
      terms: {
        required: true
      },
    },
    messages: {
      email: {
        required: "Please enter a email address",
        email: "Please enter a valid email address"
      },
      password: {
        required: "Please provide a password",
        minlength: "Your password must be at least 5 characters long"
      },
      terms: "Please accept our terms"
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});
</script>
</body>
</html>
